@import '../../../../styles/colors.scss';

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

.survey-item-empty {
  background-color: $white;
  background-image:
    linear-gradient(to right, $disabled-background, $disabled-background),
    linear-gradient(to right, $disabled-background, $disabled-background),
    linear-gradient(to right, $disabled-background, $disabled-background),
    linear-gradient(to right, $disabled-background, $disabled-background),
    linear-gradient(to right, $disabled-background, $disabled-background);
  background-position: 
    24px 24px,
    left 0 bottom 0,
    125.91px 54px,
    125.91px 78px,
    125.91px 102px;
  background-repeat: no-repeat;
  background-size:
    77.91px 128px,
    100% 40px,
    150px 18px,
    150px 18px,
    150px 18px;
  border-radius: 16px;
  box-shadow: 0 1px 3px -1px $black;
  display: flex;
  flex-basis: 48%;
  flex-direction: column;
  justify-content: space-between;  
  overflow: hidden;
  position: relative;

  &::after {
    animation: shimmer 1.2s infinite;
    background-image: linear-gradient(to right, transparent, rgba($white, 0.4), transparent);
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: translateX(-100%);
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .survey-item-empty {
    flex-basis: 100%;
  }
}